@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');


.imgslider img {
  /* margin: auto; */
  width: 1350px;
  height: 655px;
}

.overlay h1 {
  color: #093867;
  font-weight: 800;
  font-size: 60px;
  font-stretch: wider;
  /* width: 50%; */
  position: absolute;
  font-family: "Poppins", sans-serif;
  /* margin: 190px 246px; */
  display: flex;
  justify-content: left;
  position: relative;
  top: 21vh;
  left: 33%;
  right: 0;
  /* bottom: 30%; */
  
  /* transform: translateY(100%); */
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.overlay2 p {
  top: 24vh;
  left: 20;
  right: 162vh;
  bottom: 0;
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  opacity: 0.5;
  color: #033160;
  /* margin: 0 250px; */
  /* transform: translateY(500%); */
  width: 35%;
}

.overlay3 {
  position: relative;
  top: -19vh;
  left: 21%;
  /* margin: 0 200px; */
  /* transform: translateY(800%); */
}


/*                       Body                       */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}



/*                     Logo                */ 
.Logo img {
  cursor: pointer;
  width: 40px;
  margin: 5px 180px;
  transform: translateY(-45%);
  position: sticky;
}







  /*                    Navbar             */

.nav-content {
  padding: 1.5rem 2rem 0 5rem;
  /* width: 100%; */
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.5); */
  top: 0;
  left: 0;
  right: 0;
  position: fixed;

  /* margin-bottom: -10%; */
}



.nav__links {
  transition: 0.3s ease 0s;
  /* width: 100%; */
  color: #033160;
  margin: 0 2rem 0 0;
  font-variant: normal;
  font-weight: 600;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  text-decoration: none; 
  /* transform: translateX(-100%);    */
  }

  .nav__links:active {
    font-weight: 800;
  }

  .nav__links:hover {
    /* color: #01499F; */
    transform: scale(1.3);
    box-shadow: #01499F;
    text-decoration-thickness: 50;
    transition: all;
    font-weight: 800;
  }

  

  .social img{
    margin: 0 5px 0;
    transform: translateY(-95%);
    padding: 2px;
    width: 20px;
  }





  /*                  Upper Section Landing Page               */


  .bublow1 img {
    width: 109px;
    transform: translateY(-550%);
  }

  .group img {
    position: relative;
    left: 183vh;
    width: 159px;
    /* margin: 0 1220px; */
    transform: translateY(-570%);
  }

  .bubcen img {
    width: 150px;
    /* margin: 0 45px; */
    transform: translateY(-509%);
  }

  .outerbub img {
    width: 170px;
    transform: translateY(-265%);
  }

  .bub img {
    width: 109px;
    transform: translateY(-830%);
    margin: 0 18px;
  }

  .bubmid img {
    width: 175px;
    transform: translateY(-580%);
    /* margin: 0 172px; */
  }

  .bub5 img {
    width: 150px;
    /* margin: 0 618px; */
    transform: translateY(-1030%);
  }

  .bub6 img {
    width: 200px;
    /* margin: 0 1110px; */
    transform: translateY(-640%);

  }

  .cookie img {
    width: 50px;
    /* margin: 0 640px; */
    transform: translateY(-3000%);
  }

  .background {
    width: 100%;
    height: 0;
    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -10px;
  } 
  






/*            Lower Section Landing Page          */



.hero-phone img {
  /* margin: 0 100px; */
  position: absolute;
  top: 30%;
  width: 500px;
  /* height: 700px; */

}

.bubright img {
  /* margin: 0 1050px; */
  position: absolute;
  width: 170px;

}

.bubleft img {
  /* margin: 0 -30px; */
  position: absolute;
  right: 91%;
  width: 139px;
  transform: translateY(-100%);
}
.hero2body img {
  position: relative;
  top: -23vh;
  right: -98vh;
  width: 70px;
  /* transform: translateY(1230%); */
  /* margin: -45px 40px; */
}

.intro2 h2 span {
    position: relative;    
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #093867;
    display: flex;
    flex-direction: column;
    /* transform: translateY(1130%); */
    /* margin: -50px 30px; */
    top: -24vh;
    left: 80vh;
  
}
  

  .intro3 p {
    position: absolute;
    height: 76px;
    width: 250%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #093867;
    opacity: 0.5;
    top: -1%;
    left: 61vh;
  }

.intro4 p {
  position: absolute;
  height: 76px;
  /* top: 1373px; */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #093867;
  opacity: 0.5;
  text-align: center;
  top: 4%;
  width: 100%;

}

.process-button {
  /* margin: -470px 515px; */
  position: absolute;
  top: 11%;
  left: 78vh;
  /* text-align: center; */
  /* transform: translateY(40%); */
  font-weight: 400;
  font-size: 20px;
}

.Design img {
  position: relative;
  top: -700px;
  right: -900px;
  width: 70px;
  /* transform: translateY(300%); */
  /* margin: 15px -295px; */
}

.design-intro2 h2 span {
  position: relative;    
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  color: #093867;
  display: flex;
  flex-direction: column;
  transform: translateY(-130%);
  /* margin: 360px 121px; */
  top: -720px;
  right: -490px;
}


.design-intro3 p {
  position: absolute;
  height: 76px;
  width: 250%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: #093867;
  opacity: 0.5;
  /* margin: -610px 615px; */
  transform: translateY(-700%);
  display: initial;
  justify-content: flex-end;
  align-content: flex-start;
}

.design-intro4 p {
  position: absolute;
  height: 76px;
  top: 1373px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #093867;
  opacity: 0.5;
  transform: translateY(-720%);
  /* margin: -290px 615px; */
  display: initial;
  justify-content: flex-end;
  align-content: flex-start;
  width: 100%;
}
.showcases-button {
  /* margin: 1px 565px; */
  position: absolute;
  top: 50%;
  transform: translateY(270%);
  font-weight: 400;
  font-size: 20px;
}



/*           Our Services Page          */
.service-section {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-direction: column; */
  }


.service-body-section .servicebody {
    color: #093867;
    position: absolute;
    top: 7vh;
    right: 106vh;
    font-size: 3.4rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
    line-height: 105%;
  }

.service-background img {
    width: 1400px;
    background-size: cover;
    margin-top: -7%;

  }

.service-body-section h1 span {
  /* font-family: 'Poppins', sans-serif; */
  /* font-style: normal; */
  /* font-weight: 700; */
  /* font-size: 20px; */
  /* line-height: 105%; */
  /* display: block; */
  /* or 76px */


  /* color: #093867; */
}

.service-intro2 p {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* word-break: break-all; */
    /* text-align: left; */
    /* vertical-align: top; */
    /* top: 40vh; */
    /* left: -20vh; */
    transform: translateY(-255%);
    /* margin: 0 250px; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    /* or 34px */


    color: #033160;

    opacity: 0.7;
}









/*                   Products Page                     */
.process-background img {
  width: 1400px;
  margin-top: -6%;
}

.process-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.process-body-section h1 span {
  color: #093867;
    position: absolute;
    top: 8vh;
    right: 113vh;
    font-size: 3.3rem;
    font-family: 'Poppins', sans-serif;
    line-height: 105%;
    font-weight: 800;
}

.process-body-section span {
  /* font-family: 'Poppins'; */
  /* font-style: 200; */
  /* font-weight: 700; */
  /* font-size: 72px; */
  /* line-height: 105%; */
  /* color: #093867; */
  /* text-align: justify; */
  /* display: block; */
}

.process-intro p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 170%;
  color: #033160;
  opacity: 0.7;
  /* margin: -380px 0; */
  transform: translateX(-64%);
  /* display: flexbox; */
} 


.process-intro2 p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 170%;
  color: #033160;
  opacity: 0.7;
  /* margin: -300px 0; */
  transform: translateX(-57%);
  /* display: flexbox; */
} 






/*                Footer         */
.footer-container {
  background-color:  rgb(208, 236, 247);
  width: 100%;
  margin-bottom: -34%;
  
  
}

.footer-content {
  /* padding: 0 2rem 0 0; */
  /* width: 200%; */
  min-height: 100px;
}

.footer-Logo img {
  cursor: pointer;
  width: 40px;
  margin: 5px 250px;
  transform: translateY(50%);
  position: sticky;
}

.footer-links {
  text-decoration: none;
  color: #033160;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  margin: 10px 10px 0 0;
  margin: 0 2rem 0 0;
  font-family: Poppins, sans-serif;
  transition: .3s ease;
  /* transform: translateY(-90%); */
  /* margin: 0 20px; */
  /* margin: 0 140px; */
  /* transform: translateX(50%); */
  
}

.footer-links::before {
  font-weight: 600;
}


.footer-links:hover {
  transform: scale(1.3);
  box-shadow: #01499F;
  text-decoration-thickness: 50;
  transition: all;
  font-weight: 800;
  
}

.footer-links:hover:visited {
  transform: scale(1.15);
}

.footer-socials img {
  margin: 0 5px 0;
  transform: translateY(-95%);
  padding: 2px;
  width: 20px;
 
}

.footer-info-container {
  /* color: #033160; */
  display: flex;
  font-family: 'Poppins';
  /* font-size: 13px; */
  line-height: 170%;
  transform: translateY(-60%);
  /* text-decoration: none; */

}
.copyright {
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  color: #01499F;
  display: flex;
  /* margin: 15px 0; */
  /* justify-content: space-between; */
  transform: translateY(200%);
  font-size: 13px;
  /* font-weight: 500; */
  /* opacity: 1; */
}

.privacy-policy {

  /* margin: 0 80px; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #01499F;
  text-decoration: none;
  /* padding: 0 20px; */
  transform: translateX(1190%); 
}

.terms-condition  {
  color: #01499F;
  font-size: 12px;
  text-decoration: none;
  /* text-decoration: none; */
  /* margin: 0 -1px; */
  font-family: 'Poppins', sans-serif;
  transform: translateX(785%);
}